@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Севастопольский Торгово экономический Техникум</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать на сайт нашего техникума</h2>
        <p>
            СТЭТ это пробное приложение, которое показывает как можно использовать Entity Framework Core в
            ASP.NET Core MVC веб приложении.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Сделай сам</h2>
        <p>Вы можете сделать тоже самое следуя инструкциям в туториале.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Смотреть туториал &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скачать</h2>
        <p>Вы можете скачать готовый проект с сайта GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Смотреть исходный код &raquo;</a></p>
    </div>
</div>